$navy: #1e3b5a;
$mint: #34bebd;
$green: #34be78;
$yellow: #ffc658;
$orange: #ff7300;
$red: #be3435;
$pink: #be347a;

$theme_color_1: $mint;
$theme_color_2: $navy;


// .formButtons {
//     background-color: transparent;
//   }




.tabHeader {
  color: $mint;
  font-size: 42px;
  font-weight: 100;
  margin-bottom: 20px;
}

